.u-block-4f2a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4f2a-3 {
  position: absolute;
  left: 0;
}

.u-block-4f2a-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1-1 .u-image-1 {
  width: 358px;
  height: 94px;
  margin: 41px auto 0;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 47px 482px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 20px 380px 0 0;
}

.u-section-1-1 .u-text-3 {
  margin: 20px 380px 0 0;
}

.u-section-1-1 .u-image-2 {
  width: 570px;
  height: 570px;
  margin: -413px -145px 0 auto;
}

.u-section-1-1 .u-btn-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: -110px auto 60px 0;
  padding: 25px 85px 26px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 282px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1-1 .u-text-3 {
    font-weight: normal;
    margin-right: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 62px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 89px;
  }

  .u-section-1-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 941px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 818px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 680px;
  margin: 24px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 46px auto 60px;
  padding: 25px 85px 26px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1193px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 818px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 810px;
  margin: 68px auto 0;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-6 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 80px auto 60px;
  padding: 25px 85px 26px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 818px;
  margin: 113px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 48px 85px 0 610px;
}

.u-section-4 .u-image-1 {
  width: 464px;
  height: 464px;
  margin: -672px auto 268px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 818px;
  margin: 113px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 833px;
  margin: 51px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 98px auto 0;
  padding: 25px 85px 26px;
}

.u-section-5 .u-gallery-1 {
  height: 489px;
  margin-top: 113px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 0px 0px;
  grid-template-columns: auto auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-5 .u-gallery-1 {
    height: 404px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1982px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1238px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4458px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3714px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3082px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2338px;
  }
}